/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* GLOBAL CLASSES */
.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

/* CUSTOM STYLES */
h1 {
  font-size: 1.7rem;
  padding: 6px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(87, 87, 255), rgb(0, 6, 125));
}

hr {
  margin: 10px 0;
}

.today {
  border: 1px solid #000;
  padding: 10px;
}

.today-container {
  width: 100%;
  margin: 10px;
}

.search-history-container {
  margin: 5px;
  width: 250px;
}

.form-input {
  border: 1.2px solid #000;
  border-radius: 3px;
  width: 250px;
  margin: 5px 0;
  padding: 6px;
}

.h3 {
  font-size: 1.1rem;
}

.search-button {
  margin: 5px 0;
  width: 100%;
  background-color: rgb(99, 158, 252);
  border: none;
  padding: 6px 0;
  color: #fff;
  font-size: 0.8rem;
}

button {
  margin: 5px 0;
  padding: 6px;
  background: rgb(208, 206, 206);
  border: none;
  border-radius: 3px;
}

/* 5 Day Forecast */
.weather-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.weather-item {
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgb(80, 80, 124);
  color: #fff;
}
